{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1><br>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Inventore omnis tempore facilis amet officia mollitia facere non illo repellendus eum nemo velit, 
            suscipit voluptatibus modi voluptatem quaerat assumenda error quisquam.
        </p>
        <div class="text-center">
            <a href="/signin" class="btn btn-primary">Signin</a>
            <a href="/signup" class="btn btn-secondary">Signup</a>

        </div>
            
    </section>
    
</main>
        
{% endblock %}